﻿body, html {
    font-family: 'Kanit', sans-serif;
    height: 100%;
    margin: 0;
}

.mystyle {
    margin-left: 100px;
}

.mystyle2 {
    margin-left: 15px;
}

.bodyleft {
    margin-left: 70px;
}

.bodyleft2 {
    margin-left: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.topnav {
    background-color: #20599A;
    overflow: hidden;
    height: 70px;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #000000;
        text-align: center;
        padding: 23px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
            cursor: pointer;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #C70039;
            color: white;
        }

            .topnav a.active:hover {
                background-color: red;
            }

        .topnav a.activeuser {
            background-color: gray;
            color: white;
        }

            .topnav a.activeuser:hover {
                background-color: #A69A96;
            }

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.menucolor {
    background-color: #EEEEEE;
}

    .menucolor li.select:hover {
        cursor: pointer;
        background-color: #C8D9ED;
    }

.hoverLI :hover {
    background-color: #C8D9ED;
}

.colorselect {
    background-color: #C8D9ED;
}

.colorlogo {
    background-color: #FAFAF9;
}

.breadcrumbMap {
    list-style: none;
    display: inline-block;
    padding-left: 0px !important;
    background-color: #f5f0f0;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.10);
}

    .breadcrumbMap li {
        float: left;
    }

        .breadcrumbMap li a {
            color: #FFF;
            display: block;
            background: #3498db;
            text-decoration: none;
            position: relative;
            height: 40px;
            line-height: 40px;
            padding: 0 10px 0 5px;
            text-align: center;
            margin-right: 23px;
            font-weight: 600;
        }

        .breadcrumbMap li:nth-child(even) a {
            background-color: #2980b9;
        }

            .breadcrumbMap li:nth-child(even) a:before {
                border-color: #2980b9;
                border-left-color: transparent;
            }

            .breadcrumbMap li:nth-child(even) a:after {
                border-left-color: #2980b9;
            }

        .breadcrumbMap li:first-child a {
            padding-left: 15px;
            -moz-border-radius: 4px 0 0 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px 0 0 4px;
        }

            .breadcrumbMap li:first-child a:before {
                border: none;
            }

        .breadcrumbMap li:last-child a {
            padding-right: 15px;
            -moz-border-radius: 0 4px 4px 0;
            -webkit-border-radius: 0;
            border-radius: 0 4px 4px 0;
            color: #2980b9;
            background-color: #EEF5FF;
        }

            .breadcrumbMap li:last-child a:before {
                border-color: #EEF5FF;
                border-left-color: transparent;
            }

            .breadcrumbMap li:last-child a:after {
                border: none;
            }

        .breadcrumbMap li a:before, .breadcrumbMap li a:after {
            content: "";
            position: absolute;
            top: 0;
            border: 0 solid #3498db;
            border-width: 20px 10px;
            width: 0;
            height: 0;
        }

        .breadcrumbMap li a:before {
            left: -20px;
            border-left-color: transparent;
        }

        .breadcrumbMap li a:after {
            left: 100%;
            border-color: transparent;
            border-left-color: #3498db;
        }

.cf {
    max-width: 95%;
    border-radius: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 1);
    padding-bottom: 20px;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cf1 {
    max-width: 96%;
    border-radius: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 1);
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.cf2 {
    border-radius: 20px;
    max-width: 97%;
}

.bodyDetail {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}